<section class="benefits" id="benefits">
  <div class="inner-wrapper">
    <h2 class="benefits-title visually-hidden">Our Guarantees</h2>
    <ul class="benefits-list">
      <li class="benefits-list-item">
        <svg class="benefits-item-icon" width="60" height="60">
          <use href="./img/icons.svg#icon-trophy"></use>
        </svg>
        <div class="benefits-item-container">
          <h3 class="benefits-item-title">High Quality</h3>
          <p class="benefits-item-text">crafted from top materials</p>
        </div>
      </li>
      <li class="benefits-list-item">
        <svg class="benefits-item-icon" width="60" height="60">
          <use href="./img/icons.svg#icon-guarantee"></use>
        </svg>
        <div class="benefits-item-container">
          <h3 class="benefits-item-title">Warranty Protection</h3>
          <p class="benefits-item-text">Over 2 years</p>
        </div>
      </li>
      <li class="benefits-list-item">
        <svg class="benefits-item-icon" width="60" height="60">
          <use href="./img/icons.svg#icon-shipping"></use>
        </svg>
        <div class="benefits-item-container">
          <h3 class="benefits-item-title">Free Shipping</h3>
          <p class="benefits-item-text">Order over 150 $</p>
        </div>
      </li>
      <li class="benefits-list-item">
        <svg class="benefits-item-icon" width="60" height="60">
          <use href="./img/icons.svg#icon-support"></use>
        </svg>
        <div class="benefits-item-container">
          <h3 class="benefits-item-title">24 / 7 Support</h3>
          <p class="benefits-item-text">Dedicated support</p>
        </div>
      </li>
    </ul>
  </div>
</section>
