<section class="explore">
  <div class="container explore-container">
    <div class="explore-side-block">
      <h2 class="explore-side-title">50+ Beautiful rooms inspiration</h2>
      <p class="explore-side-text">
        Our designer already made a lot of beautiful prototipe of rooms that
        inspire you
      </p>
      <a href="#" class="explore-side-link"> Explore more</a>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/explore-slider/swiper.png    1x,
                ./img/explore-slider/swiper@2x.png 2x
              "
              media="(max-width:320px)"
            />
            <img
              src="./img/explore-slider/swiper.png"
              alt="Furniro-products"
              class="furniture-right-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/explore-slider/swiper_slide.png    1x,
                ./img/explore-slider/swiper_slide@2x.png 2x
              "
              media="(max-width:320px)"
            />
            <img
              src="./img/explore-slider/swiper_slide.png"
              alt="Furniro-products"
              class="furniture-right-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/explore-slider/swiper.png    1x,
                ./img/explore-slider/swiper@2x.png 2x
              "
              media="(max-width:320px)"
            />
            <img
              src="./img/explore-slider/swiper.png"
              alt="Furniro-products"
              class="furniture-right-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/explore-slider/swiper_slide.png    1x,
                ./img/explore-slider/swiper_slide@2x.png 2x
              "
              media="(max-width:320px)"
            />
            <img
              src="./img/explore-slider/swiper_slide.png"
              alt="Furniro-products"
              class="furniture-right-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/explore-slider/swiper.png    1x,
                ./img/explore-slider/swiper@2x.png 2x
              "
              media="(max-width:320px)"
            />
            <img
              src="./img/explore-slider/swiper.png"
              alt="Furniro-products"
              class="furniture-right-img"
            />
          </picture>
        </div>
      </div>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->

      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev"></div> -->
      <div class="swiper-button-next">
        <button class="swiper-btn-right" type="button">Next_slide</button>
      </div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
