<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrapper">
      <div class="footer-side-container">
        <a href="./index.html" class="footer-logo">Funiro.</a>
        <a
          href="https://maps.app.goo.gl/DTnEvv66ycUF6AJc8"
          target="_blank"
          class="footer-adr"
          >400 University Drive Suite 200 Coral Gables,
          <span class="footer-adr-part">FL 33134 USA</span></a
        >
      </div>
      <div class="footer-nav">
        <div class="footer-nav-column">
          <h3 class="footer-column-title">Links</h3>
          <ul class="footer-column-list">
            <li class="footer-column-item">
              <a href="./index.html" class="footer-item-link">Home</a>
            </li>
            <li class="footer-column-item">
              <a href="#" class="footer-item-link">Shop</a>
            </li>
            <li class="footer-column-item">
              <a href="#" class="footer-item-link">About</a>
            </li>
            <li class="footer-column-item">
              <a href="#" class="footer-item-link">Contact</a>
            </li>
          </ul>
        </div>
        <div class="footer-nav-column">
          <h3 class="footer-column-title">Help</h3>
          <ul class="footer-column-list">
            <li class="footer-column-item">
              <a href="./index.html" class="footer-item-link"
                >Payment Options</a
              >
            </li>
            <li class="footer-column-item">
              <a href="#" class="footer-item-link">Returns</a>
            </li>
            <li class="footer-column-item">
              <a href="#" class="footer-item-link">Privacy Policies</a>
            </li>
          </ul>
        </div>
        <div class="footer-nav-column">
          <h3 class="footer-column-title">Newsletter</h3>
          <form class="footer-sub-form">
            <label for="email_field">
              <input
                type="email"
                name="email_field"
                pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                placeholder="Enter Your Email Address"
                class="footer-form-input"
              />
            </label>
            <button class="footer-form-btn" type="submit">SUBSCRIBE</button>
          </form>
        </div>
      </div>
    </div>
    <a
      href="https://www.rijksoverheid.nl/onderwerpen/privacy-en-persoonsgegevens"
      class="footer-privacy"
      >2023 furino. All rights reverved</a
    >
  </div>
</footer>
