<section class="furniture">
  <p class="furniture-text">Share your setup with</p>
  <h2 class="furniture-title">#FuniroFurniture</h2>
  <div class="furniture-wrapper">
    <ul class="furniture-left-list">
      <li class="furniture-left-item">
        <picture>
          <source
            srcset="
              ./img/furniture/image_1.png    1x,
              ./img/furniture/image_1@2x.png 2x
            "
            media="(max-width:320px)"
          />
          <img
            src="./img/furniture/image_1.png"
            alt="Furniro-products"
            class="furniture-left-img"
          />
        </picture>
      </li>
      <li class="furniture-left-item flex-end">
        <picture>
          <source
            srcset="
              ./img/furniture/image_3.png    1x,
              ./img/furniture/image_3@2x.png 2x
            "
            media="(max-width:320px)"
          />
          <img
            src="./img/furniture/image_3.png"
            alt="Furniro-products"
            class="furniture-left-img"
          />
        </picture>
      </li>
      <li class="furniture-left-item">
        <picture>
          <source
            srcset="
              ./img/furniture/image_2.png    1x,
              ./img/furniture/image_2@2x.png 2x
            "
            media="(max-width:320px)"
          />
          <img
            src="./img/furniture/image_2.png"
            alt="Furniro-products"
            class="furniture-left-img"
          />
        </picture>
      </li>
      <li class="furniture-left-item">
        <picture>
          <source
            srcset="
              ./img/furniture/image_4.png    1x,
              ./img/furniture/image_4@2x.png 2x
            "
            media="(max-width:320px)"
          />
          <img
            src="./img/furniture/image_4.png"
            alt="Furniro-products"
            class="furniture-left-img"
          />
        </picture>
      </li>
    </ul>
    <picture class="flex-shrink">
      <source
        srcset="
          ./img/furniture/image_5.png    1x,
          ./img/furniture/image_5@2x.png 2x
        "
        media="(max-width:320px)"
      />
      <img
        src="./img/furniture/image_5.png"
        alt="dinner room"
        class="furniture-middle-img"
      />
    </picture>
    <ul class="furniture-right-list">
      <li class="furniture-right-item flex-end">
        <picture>
          <source
            srcset="
              ./img/furniture/image_7.png    1x,
              ./img/furniture/image_7@2x.png 2x
            "
            media="(max-width:320px)"
          />
          <img
            src="./img/furniture/image_7.png"
            alt="Furniro-products"
            class="furniture-right-img"
          />
        </picture>
      </li>
      <li class="furniture-right-item flex-end">
        <picture>
          <source
            srcset="
              ./img/furniture/image_8.png    1x,
              ./img/furniture/image_8@2x.png 2x
            "
            media="(max-width:480px)"
          />
          <img
            src="./img/furniture/image_8.png"
            alt="Furniro-products"
            class="furniture-right-img"
          />
        </picture>
      </li>
      <li class="furniture-right-item">
        <picture>
          <source
            srcset="
              ./img/furniture/image_6.png    1x,
              ./img/furniture/image_6@2x.png 2x
            "
            media="(max-width:320px)"
          />
          <img
            src="./img/furniture/image_6.png"
            alt="Furniro-products"
            class="furniture-right-img"
          />
        </picture>
      </li>
      <li class="furniture-right-item">
        <picture>
          <source
            srcset="
              ./img/furniture/image_9.png    1x,
              ./img/furniture/image_9@2x.png 2x
            "
            media="(max-width:320px)"
          />
          <img
            src="./img/furniture/image_9.png"
            alt="Furniro-products"
            class="furniture-right-img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
