<header class="header">
  <nav class="header-nav">
    <a href="./index.html" class="header-logo">
      <img src="./fav.svg" alt="Furniro Logo" class="header-logo-image" />
      Furniro
    </a>
    <ul class="header-nav-list">
      <li class="header-nav-item pulsate-fwd underscore">
        <a href="#" class="header-item-link">Home</a>
      </li>
      <li class="header-nav-item pulsate-fwd underscore">
        <a href="#" class="header-item-link">Shop</a>
      </li>
      <li class="header-nav-item pulsate-fwd underscore">
        <a href="#" class="header-item-link">About</a>
      </li>
      <li class="header-nav-item pulsate-fwd underscore">
        <a href="#" class="header-item-link">Contact</a>
      </li>
    </ul>
  </nav>
  <ul class="header-page-nav">
    <li class="header-nav-link pulsate-fwd underscore">
      <svg class="header-link-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-user-ac"></use>
      </svg>
    </li>
    <li class="header-nav-link pulsate-fwd underscore">
      <svg class="header-link-icon icon-color" width="28" height="28">
        <use href="./img/icons.svg#icon-search"></use>
      </svg>
    </li>
    <li class="header-nav-link pulsate-fwd underscore">
      <svg class="header-link-icon icon-color" width="28" height="28">
        <use href="./img/icons.svg#icon-heart"></use>
      </svg>
    </li>
    <li class="header-nav-link pulsate-fwd underscore">
      <svg class="header-link-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-ant-desshopping-car"></use>
      </svg>
    </li>
  </ul>
</header>
