<section class="products" id="products">
  <div class="products-container">
    <h2 class="products-title">Our Products</h2>
    <ul class="products-list">
      <li class="products-list-item overlay-card">
        <div class="overlay-wrapper">
          <picture>
            <source
              srcset="
                ./img/pagination/pagination.png    1x,
                ./img/pagination/pagination@2x.png 2x
              "
              media="(max-width:320px)"
            />
            <img
              src="./img/pagination/pagination.png"
              alt="Furniro-products"
              class="furniture-right-img"
            />
          </picture>
          <div class="products-item-dscrp">
            <h3 class="products-dscrp-title">Syltherine</h3>
            <p class="products-dscrp-text">Stylish cafe chair</p>
            <p class="products-dscrp-price">Rp 2.500.000</p>
          </div>
          <div class="overlay-block">
            <button class="overlay-btn shadow-inset-center" type="button">
              Add to cart
            </button>
            <ul class="overlay-list">
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#"
                  ><svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-share"></use>
                  </svg>
                  Share</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="14" height="14" class="overlay-icon">
                    <use href="./img/icons.svg#icon-arrows"></use>
                  </svg>
                  Compare</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                  Like</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="products-list-item overlay-card">
        <div class="overlay-wrapper">
          <picture>
            <source
              srcset="
                ./img/pagination/pagination.png    1x,
                ./img/pagination/pagination@2x.png 2x
              "
              media="(max-width:320px)"
            />
            <img
              src="./img/pagination/pagination.png"
              alt="Furniro-products"
              class="furniture-right-img"
            />
          </picture>
          <div class="products-item-dscrp">
            <h3 class="products-dscrp-title">Syltherine</h3>
            <p class="products-dscrp-text">Stylish cafe chair</p>
            <p class="products-dscrp-price">Rp 2.500.000</p>
          </div>
          <div class="overlay-block">
            <button class="overlay-btn shadow-inset-center" type="button">
              Add to cart
            </button>
            <ul class="overlay-list">
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#"
                  ><svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-share"></use>
                  </svg>
                  Share</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="14" height="14" class="overlay-icon">
                    <use href="./img/icons.svg#icon-arrows"></use>
                  </svg>
                  Compare</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                  Like</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="products-list-item overlay-card">
        <div class="overlay-wrapper">
          <picture>
            <source
              srcset="
                ./img/pagination/pagination.png    1x,
                ./img/pagination/pagination@2x.png 2x
              "
              media="(max-width:320px)"
            />
            <img
              src="./img/pagination/pagination.png"
              alt="Furniro-products"
              class="furniture-right-img"
            />
          </picture>
          <div class="products-item-dscrp">
            <h3 class="products-dscrp-title">Syltherine</h3>
            <p class="products-dscrp-text">Stylish cafe chair</p>
            <p class="products-dscrp-price">Rp 2.500.000</p>
          </div>
          <div class="overlay-block">
            <button class="overlay-btn shadow-inset-center" type="button">
              Add to cart
            </button>
            <ul class="overlay-list">
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#"
                  ><svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-share"></use>
                  </svg>
                  Share</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="14" height="14" class="overlay-icon">
                    <use href="./img/icons.svg#icon-arrows"></use>
                  </svg>
                  Compare</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                  Like</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="products-list-item overlay-card">
        <div class="overlay-wrapper">
          <picture>
            <source
              srcset="
                ./img/pagination/pagination.png    1x,
                ./img/pagination/pagination@2x.png 2x
              "
              media="(max-width:320px)"
            />
            <img
              src="./img/pagination/pagination.png"
              alt="Furniro-products"
              class="furniture-right-img"
            />
          </picture>
          <div class="products-item-dscrp">
            <h3 class="products-dscrp-title">Syltherine</h3>
            <p class="products-dscrp-text">Stylish cafe chair</p>
            <p class="products-dscrp-price">Rp 2.500.000</p>
          </div>
          <div class="overlay-block">
            <button class="overlay-btn shadow-inset-center" type="button">
              Add to cart
            </button>
            <ul class="overlay-list">
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#"
                  ><svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-share"></use>
                  </svg>
                  Share</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="14" height="14" class="overlay-icon">
                    <use href="./img/icons.svg#icon-arrows"></use>
                  </svg>
                  Compare</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                  Like</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="products-list-item overlay-card">
        <div class="overlay-wrapper">
          <picture>
            <source
              srcset="
                ./img/pagination/pagination.png    1x,
                ./img/pagination/pagination@2x.png 2x
              "
              media="(max-width:320px)"
            />
            <img
              src="./img/pagination/pagination.png"
              alt="Furniro-products"
              class="furniture-right-img"
            />
          </picture>
          <div class="products-item-dscrp">
            <h3 class="products-dscrp-title">Syltherine</h3>
            <p class="products-dscrp-text">Stylish cafe chair</p>
            <p class="products-dscrp-price">Rp 2.500.000</p>
          </div>
          <div class="overlay-block">
            <button class="overlay-btn shadow-inset-center" type="button">
              Add to cart
            </button>
            <ul class="overlay-list">
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#"
                  ><svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-share"></use>
                  </svg>
                  Share</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="14" height="14" class="overlay-icon">
                    <use href="./img/icons.svg#icon-arrows"></use>
                  </svg>
                  Compare</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                  Like</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="products-list-item overlay-card">
        <div class="overlay-wrapper">
          <picture>
            <source
              srcset="
                ./img/pagination/pagination.png    1x,
                ./img/pagination/pagination@2x.png 2x
              "
              media="(max-width:320px)"
            />
            <img
              src="./img/pagination/pagination.png"
              alt="Furniro-products"
              class="furniture-right-img"
            />
          </picture>
          <div class="products-item-dscrp">
            <h3 class="products-dscrp-title">Syltherine</h3>
            <p class="products-dscrp-text">Stylish cafe chair</p>
            <p class="products-dscrp-price">Rp 2.500.000</p>
          </div>
          <div class="overlay-block">
            <button class="overlay-btn shadow-inset-center" type="button">
              Add to cart
            </button>
            <ul class="overlay-list">
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#"
                  ><svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-share"></use>
                  </svg>
                  Share</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="14" height="14" class="overlay-icon">
                    <use href="./img/icons.svg#icon-arrows"></use>
                  </svg>
                  Compare</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                  Like</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="products-list-item overlay-card">
        <div class="overlay-wrapper">
          <picture>
            <source
              srcset="
                ./img/pagination/pagination.png    1x,
                ./img/pagination/pagination@2x.png 2x
              "
              media="(max-width:320px)"
            />
            <img
              src="./img/pagination/pagination.png"
              alt="Furniro-products"
              class="furniture-right-img"
            />
          </picture>
          <div class="products-item-dscrp">
            <h3 class="products-dscrp-title">Syltherine</h3>
            <p class="products-dscrp-text">Stylish cafe chair</p>
            <p class="products-dscrp-price">Rp 2.500.000</p>
          </div>
          <div class="overlay-block">
            <button class="overlay-btn shadow-inset-center" type="button">
              Add to cart
            </button>
            <ul class="overlay-list">
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#"
                  ><svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-share"></use>
                  </svg>
                  Share</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="14" height="14" class="overlay-icon">
                    <use href="./img/icons.svg#icon-arrows"></use>
                  </svg>
                  Compare</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                  Like</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="products-list-item overlay-card">
        <div class="overlay-wrapper">
          <picture>
            <source
              srcset="
                ./img/pagination/pagination.png    1x,
                ./img/pagination/pagination@2x.png 2x
              "
              media="(max-width:320px)"
            />
            <img
              src="./img/pagination/pagination.png"
              alt="Furniro-products"
              class="furniture-right-img"
            />
          </picture>
          <div class="products-item-dscrp">
            <h3 class="products-dscrp-title">Syltherine</h3>
            <p class="products-dscrp-text">Stylish cafe chair</p>
            <p class="products-dscrp-price">Rp 2.500.000</p>
          </div>
          <div class="overlay-block">
            <button class="overlay-btn shadow-inset-center" type="button">
              Add to cart
            </button>
            <ul class="overlay-list">
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#"
                  ><svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-share"></use>
                  </svg>
                  Share</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="14" height="14" class="overlay-icon">
                    <use href="./img/icons.svg#icon-arrows"></use>
                  </svg>
                  Compare</a
                >
              </li>
              <li class="overlay-item pulsate-fwd">
                <a class="overlay-item-text" href="#">
                  <svg width="16" height="16" class="overlay-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                  Like</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <button class="pagination-btn shadow-inset-center" type="button">
      Show More
    </button>
  </div>
</section>
