<section class="range" id="range">
  <div class="range-container">
    <h2 class="range-title">Browse The Range</h2>
    <p class="range-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="range-list">
      <li class="range-list-item">
        <picture>
          <source
            srcset="
              ./img/range/dinning-room.png    1x,
              ./img/range/dinning-room@2x.png 2x
            "
            media="(max-width:1200px)"
          />
          <img
            src="./img/range/dinning-room.png"
            alt="Dinning room on Furniro"
            class="range-item-image"
          />
        </picture>
        <p class="subtext">Dining</p>
      </li>
      <li class="range-list-item">
        <picture>
          <source
            srcset="
              ./img/range/living-room.png    1x,
              ./img/range/living-room@2x.png 2x
            "
            media="(max-width:1200px)"
          />
          <img
            src="./img/range/living-room.png"
            alt="Living room on Furniro"
            class="range-item-image"
          />
        </picture>
        <p class="subtext">Living</p>
      </li>
      <li class="range-list-item">
        <picture>
          <source
            srcset="./img/range/bedroom.png 1x, ./img/range/bedroom@2x.png 2x"
            media="(max-width:1200px)"
          />
          <img
            src="./img/range/bedroom.png"
            alt="Bedroom on Furniro"
            class="range-item-image"
          />
        </picture>
        <p class="subtext">Bedroom</p>
      </li>
    </ul>
  </div>
</section>
