.furniture {
  padding: 48px 0;
}
.furniture-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #616161;
  margin: 0 0 8px 0;
}
.furniture-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #3a3a3a;
}
.furniture-wrapper {
  display: flex;
  max-width: 1440px;
  gap: 16px;
  margin: 0 auto;
}
.furniture-left-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 545px;
  /* transform: translateY(-25px); */
  margin: -25px 0 0 0;
}
.furniture-left-item {
}
.furniture-left-img {
}
.furniture-middle-img {
  margin: 132px 0 0 0;
}
.furniture-right-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* transform: translateY(-20px); */
  margin: -20px 0 0 0;
}
.furniture-right-item {
}
.furniture-right-img {
}

picture {
  flex-shrink: 0;
}

.flex-end {
  align-self: flex-end;
}

img:hover {
  scale: 1.05;
}
